// Main file
@import './styles/vendor/_reset.scss';

%anyElementDefaults {
  box-sizing: border-box;
  outline: none;
  touch-action: manipulation;
  -ms-touch-action: manipulation;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
}

:root {
  min-height: 100vh;
}

* {
  &,
  &:active,
  &:focus,
  &:hover {
    @extend %anyElementDefaults;
  }
}


a {
  text-decoration: none;
  font-size: 1.8rem;
  text-align: left;
  cursor: pointer;
  &:hover {
    color: #000;
  }
}

nav li {
  list-style: none;
}

embed,
img,
object {
  max-width: 100%;
}

img {
  display: block;
  height: auto;
  image-rendering: optimizeQuality;
  border: 0;
}

@-ms-viewport {
  width: device-width;
}

html {
  font-size: 62.5%;
}

body {
  font: normal 500 1.8rem/1 sans-serif;
  vertical-align: baseline;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga' on;
  -ms-overflow-style: scrollbar;
  -webkit-touch-callout: none;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%;
  min-height: inherit;
  letter-spacing: normal;
}

#k2i {
  height: inherit;
  min-height: inherit;
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;
  justify-content: center;
}

.k2i-main {
  display: flex;
  flex: 1;
  padding-top: 10.8rem;
}

b {
  font-weight: 600;
}